// kolory
$white: #ffffff;
$black: #000000;
$grey-light: #f9fbfe;
$grey-dark: #444444;
$blue-dark: #3e5cc5;
$blue-light: #d3eafa;
$blue-text: #3d99e1;
$green: #60dc64;

$blue-gradient: linear-gradient(45deg, #3e5cc5 0%, #5b8af8 100%);

// tekst
$font-size-base: 1rem; //rozmiar tekstu dla głownego elementu html ~16px
$font-size-1: $font-size-base * 3; //~48px
$font-size-2: $font-size-base * 1.5; //~24px
$font-size-3: $font-size-base * 1.125; //~18px
$font-size-4: $font-size-base * 1; //~16px
$font-size-5: $font-size-base * .875; //~14px
$font-size-6: $font-size-base * .75; //~12px
$font-size-7: $font-size-base * .625; //~10px

$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;

// siatka
$grid-base: 10px;
$gutter: $grid-base * 1.5;

// zaokrąglenia
$border-radius: $grid-base * .5;

// breakpoint
$bp-medium: '700px';
$bp-large: '1100px';
